.head1 {
  color: rgb(29, 30, 24);
  font-size: 60px;
  border-left: 10px solid rgb(29, 30, 24);
  border-right: 10px solid rgb(29, 30, 24);
  background-color: rgb(185, 245, 216);
  text-align: center;
  padding: 20px;
}

.body1 {
  background-color: rgb(80, 175, 133);
  color: #1d1e18;
}

.para1 {
  color: rgb(29, 30, 24);
}

#img2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 50%;
}

.quote1 {
  text-align: center;
  font-size: 15px;
  background-color: rgb(185, 245, 216);
  padding: 4px;
}

.quote2 {
  text-align: center;
  font-size: 15px;
  background-color: rgb(185, 245, 216);
  padding: 4px;
}

.div1 {
  border: 4px inset rgb(29, 30, 24);
  background-color: rgb(185, 245, 216);
  text-align: center;
}

#img3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.head2 {
  text-align: center;
}